---
---
<section class="relative isolate grid min-h-screen place-items-center overflow-hidden border-b border-ink bg-paper px-4 py-24 sm:px-6 lg:px-8">
  <div class="pointer-events-none absolute inset-0 bg-[radial-gradient(circle_at_20%_18%,rgb(var(--color-butter)/.36),transparent_28%),radial-gradient(circle_at_82%_20%,rgb(var(--color-sky)/.48),transparent_30%),radial-gradient(circle_at_55%_78%,rgb(var(--color-coffee)/.18),transparent_28%),linear-gradient(145deg,rgb(var(--color-paper))_0%,rgb(var(--color-sky)/.42)_47%,rgb(var(--color-butter)/.34)_100%)]"></div>
  <div class="pointer-events-none absolute left-1/2 top-[42%] h-44 w-[190vw] -translate-x-1/2 -rotate-6 rounded-[50%] border border-ink bg-coffee/15 sm:h-56 lg:h-72 lg:w-[135vw]"></div>
  <div class="pointer-events-none absolute -left-16 top-[20%] h-32 w-52 rotate-12 border border-ink bg-surface/70 shadow-offset sm:left-[7%] sm:top-[28%]"></div>
  <div class="pointer-events-none absolute -right-12 top-[19%] h-28 w-28 rounded-full border border-ink bg-butter/80 shadow-offset sm:right-[12%] sm:top-[27%] sm:h-36 sm:w-36"></div>
  <div class="pointer-events-none absolute bottom-[18%] right-[8%] h-16 w-48 -rotate-6 border border-ink bg-sky/55 shadow-offset sm:bottom-[20%] sm:right-[18%]"></div>
  <div class="pointer-events-none absolute bottom-0 left-0 right-0 h-36 bg-[linear-gradient(180deg,transparent,rgb(var(--color-butter)/.55))]"></div>
  <div class="relative mx-auto w-full max-w-[1440px]">
    <h1 class="display-heading mx-auto w-[calc(100vw-2rem)] max-w-none text-center text-[14.5vw] leading-[0.82] tracking-[-0.06em] sm:w-full sm:text-[clamp(76px,19vw,300px)] sm:leading-[0.74] sm:tracking-[-0.08em]">Nongkrong<br />Kediri</h1>
  </div>
</section>
